<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="vendors/jquery-3.2.1.min.js"> charset="utf-8"</script>
    <script src="Untitled.js" charset="utf-8"></script>
    <title></title>
  </head>

  <body>
    <main>
      <h1>Owners and Pets</h1>
      <h2>Owner Registartion</h2>
        <form>
          <label> Frist Name </label> <input placeholder="first" id="firstName"></input>
          <label> Last Name </label> <input placeholder="last" id="lastName"></input>
          <button id="register" type='button'>Register</button>
        </form>
    </main>
    <div id="container">
      <h2>Pets</h2>
      <label> Owner name </label>
        <select id="ownerSelect">

        </select>
      <label> Pet name </label><input id='pet' placeholder='Pet'></input>
      <label> Breed</label><input id='breed' placeholder='Breed'></input>
      <label> Color</label><input id='color' placeholder='Color'></input>
      <button type="button" name="addPet">Add Pet</button>
    </div>
    <div id='outPutDiv'>
      <table id='outPutTable'>
          <tr>
            <th>Owner</th>
            <th>Pet</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Check IN/OUT</th>
          </tr>

      </table>
    </div>
  </body>
</html>
